body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
}

.item-header {
  background-color: #FFFFF0;
  border-radius: 1em;
  border-style: dashed;
  border-color: black;
  border-width: 1px;
  min-height: 60px;
  margin-bottom: 1em;
  margin-top: 2em;
  padding: 0;
  overflow: hidden;

  /*  */
  position: relative;
}

.item-thumbnail {
  height: 65px;
  object-fit: cover;
  padding: 0;
  width: 80px;

  /*  */
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.item-title {
  display: inline-block;
  margin-left: 90px;
  max-width: 90%;
}

.nav-button {
  padding-left: 2em;
  padding-right: 2em;
}

.comment {
  border-radius: .5em;
  border-style: none solid solid solid;
  border-width: 1px;
  border-color: black;
  margin: 0.5em;
  padding: 0 0.5em 0.5em 0.5em;
}

.author {
  font-weight: bold;
}